.container-student-lesson-page * {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

.react-player {
  width: 100% !important;
  height: auto !important;
  aspect-ratio: 16/9 !important;
}
