.gear{
  width: 40px;
  height: 40px;
  border-radius: 20%;
  background-color: white;  
  display: flex;
  justify-content: center;
  align-items: center;
}
.gear:hover {
  width: 40px;
  height: 40px;
  background-color: rgb(226, 226, 226);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown-toggle::after {
  display: none !important; 
}

.modal-invite * {
  box-shadow: none !important;
}

.dropdown-item-no-highlight:focus {
  background-color: transparent !important;
}